body{
    background-color: #111;
    font-family: Tahoma, sans-serif;
}
header {
    font-size: 50px;
    background-color:#222;
    text-align: center;
    color:#fff;
    padding: 8px;
}
nav {
    text-align: center;
    background-color:#333;
    padding: 8px;
}
a {
    text-decoration: none;
    color: #fff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.buttons{
    background-color: #555;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}
.intro {
    text-align: center;
    color: #fff;
    font-size: 150%;
}
hr {
    border: none;
}
form {
    text-align: center;
}
.previousImg {
    width: 50%;
    height: 50%;
}
section {
    margin: 8px;
}
.inputfile {
    display: none;
}
label {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
}
.textwindow {
    background-color: #555;
    color: #fff;
    border: none;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#upload {
    padding-left: 32px;
    padding-right: 32px;
}