body{
    background-color: #111;
    font-family: Tahoma, sans-serif;
}
header {
    font-size: 50px;
    background-color:#222;
    text-align: center;
    color:#fff;
    padding: 8px;
}
nav {
    text-align: center;
    background-color:#333;
    padding: 8px;
}
form {
    text-align: center;
}
p {
    font-size: 150%;
    color:#fff;
    margin: 8px;
    margin-bottom: -10px;
}
#imgInp {
    display: none;
    
}
.buttons{
    background-color: #555;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#blah {
    width: 25%;
    height: 25%;
}
a {
    text-decoration: none;
    color: #fff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#mainPage {
    padding-left: 0px;
    padding-right: 0px;
}
label {
    cursor: pointer;
    padding-left: 32.7px;
    padding-right: 32.7px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#selectButton {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}
#upload {
    padding-right: 29.0335px;
    padding-left: 29.0335px;
}